* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.counter {
    font-size: 36px;
}

.options {
    margin-top: 20px;
}
.wrapper {
    border: 1px solid black;
    width: 500px;
    height: 700px;
}

.wrapper_btn {
    padding-top: 15%;
    align-items: center;
    margin: auto;
    width:300px ;
    height: 400px;
    background: rgb(253,92,99);
    background: linear-gradient(99deg, rgba(253,92,99,1) 47%, rgba(2,0,36,1) 75%);
}